venv
data
__pycache__
foo**
.DS_Store
_*
site
dist
faiss_index
*.pytest_cache

# temp
unzipped_data
**financial_dataset
datasets
raw_documents
unzipped
chunked_documents
**.sqlite3
**.zip
**.vscode
test_output
**.mypy_cache
**.pkl
**.faiss
**.prof
